@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 228, 87%, 6%;
    --primary-foreground: 228, 87%, 6%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 0, 0%, 63%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0, 100%, 42%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: #02071c;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Utility Classes */
.no-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}

@media (max-width: 800px) {
  .container {
    width: 100% !important;
    margin-inline: 0 !important;
    padding-inline: 1rem !important;
  }
}

.products-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

@media (min-width: 1024px) {
  .products-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
}

.products-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  color: #cec9c9;
  background-color: #cec9c9;
  width: 100px;
  background-clip: content-box;
}

.products-scrollbar::-webkit-scrollbar-track {
  background: #ebeaea;
  border-radius: 20px;
  width: 100%;
}

/* Header Custom Classes */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.sticky-header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 30px rgba(25, 25, 25, 0.3);
  border-radius: 0;
}

/* End of header custom classes */